{% extends "templates/general.html" %}
{% load bootstrap %}
{% block title %}
    {% if newsletter.subject %}
        {{ newsletter.subject }}
    {% else %}
        Nova Newsletter
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="well">
            <form action method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                {% if newsletter.sending_started_date %}
                    <div class="form-group">
                        <label for="sending_started_date" class="control-label">Data de início de envio</label>
                        <p>{{ newsletter.sending_started_date }}</p>
                    </div>
                {% endif %}
                {% if newsletter.sending_finished_date %}
                    <div class="form-group">
                        <label for="sending_finished_date" class="control-label">Data de fim de envio</label>
                        <p>{{ newsletter.sending_finished_date }}</p>
                    </div>
                {% endif %}
                {% if not newsletter.is_new %}
                    <div class="form-group text-right">
                        <a href="{% url 'newsletter-report' newsletter.id %}" class="btn btn-default">Ver relatório</a>
                    </div>
                {% endif %}
                <div class="form-group text-right">
                    <button type="reset" class="btn btn-default" onclick="window.history.back()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Submeter</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block head-assets %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
{% block body-assets %}
    {{ block.super }}
    {% load static %}
    <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script src="{% static 'vendor/moment/min/moment.min.js' %}"></script>
    <script>
        $('#schedule_date').change(function () {
            $('input[name="sending_schedule_date_utc"]').val(
                    moment($(this).datetimepicker('getDate')).utc().format('YYYY-MM-DD HH:mm:ss')
            );
        });
    </script>
{% endblock %}