{% extends "templates/general.html" %}
{% load staticfiles %}
{% load newsletter_extras %}
{% block title %}
Relatório de {{ newsletter.subject }}
{% endblock %}
{% block content %}
    <div class="container">
        <input type="hidden" id="NewsletterId" value="{{ newsletter.pk }}">
        <div id="Activity" style="width: 100%;height: 300px;"></div>
        <p><a href="{% url 'newsletter' newsletter.pk %}" class="btn btn-default">Ver Newsletter</a></p>
        <div class="row">
            <h3>Links</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Link</th>
                    <th>Cliques</th>
                </tr>
                </thead>
                <tbody>
                {% for url in urls %}
                    <tr>
                        <td><a target="_blank" href="{{ url.url }}">{{ url.url }}</a></td>
                        <td>{{ url.hits }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <h3>Destinatários</h3>
            <p>{{ sent_recipients }} de {{ total_recipients }} enviados com sucesso</p>
            <table class="table">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Atividade</th>
                    <th>Estado</th>
                </tr>

                </thead>
                <tbody>
                {% for recipient in recipients %}
                    <tr>
                        <td>
                            <a href="{% url 'contact' recipient.contact.contact_list_id recipient.contact_id %}">{{ recipient.contact.name }}</a>
                        </td>
                        <td>{{ recipient.contact.email }}</td>
                        <td>{{ recipient.activity_status }}</td>
                        <td>{{ recipient |newsletter_status}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block body-assets %}
    {{ block.super }}
    <script src="{% static 'vendor/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'js/report.js' %}"></script>
{% endblock %}