{% extends "templates/general.html" %}
{% load staticfiles %}
{% block title %}
Estado de envio de {{ newsletter.subject }}
{% endblock %}
{% block content %}
    <div class="container">
        <h2>Estado: {{ newsletter.subject }} <a onclick="return confirm('Tem a certeza?')" class="btn btn-warning" href="{% url 'cancel-newsletter' newsletter.pk %}">Abortar</a></h2>
        <dl class="HorizontalDefinitionListFull">
            <dt>Total de destinatários</dt>
            <dd id="RecipientCount"></dd>
            <dt>Total de envios com sucesso</dt>
            <dd id="RecipientSentCount"></dd>
            <dt>Total de erros</dt>
            <dd id="RecipientFailedCount"></dd>
            <dt>Total por enviar</dt>
            <dd id="RecipientToSendCount"></dd>
        </dl>
        <div class="well">
            <div class="progress progress-striped active">
                <div id="RecipientProgressBar" class="progress-bar"></div>
            </div>
        </div>
        <input id="NewsletterId" type="hidden" value="{{ newsletter.pk }}">
    </div>
{% endblock %}

{% block body-assets %}
    {{ block.super }}
    <script src="{% static 'js/newsletter-status.js' %}"></script>
{% endblock %}