{% extends "templates/general.html" %}
{% load newsletter_extras %}
{% block title %}
Newsletters
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Newsletters</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Assunto</th>
                <th>Data de início de envio</th>
                <th>Data de fim de envio</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for newsletter in newsletters %}
                <tr>
                    {% if newsletter.is_sending %}
                    <td>{{ newsletter|newsletter_status }} <a href="{% url 'newsletter-status' newsletter.pk %}">{{ newsletter.subject }}</a></td>
                    {% elif newsletter.is_sent or newsletter.is_aborted %}
                    <td>{{ newsletter|newsletter_status }} <a href="{% url 'newsletter-report' newsletter.pk %}">{{ newsletter.subject }}</a></td>
                    {% else %}
                    <td>{{ newsletter|newsletter_status }} {{ newsletter.subject }}</td>
                    {% endif %}
                    <td>{{ newsletter.sending_started_date }}</td>
                    <td>{{ newsletter.sending_finished_date }}</td>
                    <td><a class="btn btn-default" href="{% url 'newsletter-duplicate' newsletter.id %}"><i class="glyphicon glyphicon-duplicate"></i> Duplicar</a></td>
                    <td>
                        {% if newsletter.ready_to_send %}
                            <a href="{% url 'send-newsletter' newsletter.id %}" class="btn btn-warning"
                               onclick="return confirm('Tem a certeza?')">Enviar agora</a>
                        {% endif %}
                    </td>
                    <td><a class="btn btn-default" href="{% url 'newsletter' newsletter.id %}">Editar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><a class="btn btn-default" href="{% url 'newsletter' %}">Adicionar Newsletter</a></p>
    </div>
{% endblock %}