{% extends "templates/general.html" %}
{% block title %}
Transmissores
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Transmissores</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Domínio</th>
                <th>Username</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for transport in transports %}
                <tr>
                    <td>{{ transport.name }}</td>
                    <td>{{ transport.host }}</td>
                    <td>{{ transport.username }}</td>
                    <td><a class="btn btn-default" href="{% url 'transport' transport.id %}">Abrir</a></td>
                    <td><a class="btn btn-danger" onclick="return confirm('Tem a certeza?')"
                           href="{% url 'transports-remove' transport.id %}">Remover</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><a class="btn btn-default" href="{% url 'transport' %}">Adicionar transmissor</a></p>
    </div>
{% endblock %}