{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SIGEN{% endblock %}</title>
    {% block head-assets %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
</head>
<body>
{% block header %}{% include "templates/blocks/header.html" %}{% endblock %}
{% block navbar %}{% include "templates/blocks/navbar.html" %}{% endblock %}

{% block content %}{% include "templates/blocks/content.html" %}{% endblock %}
{% block footer %}{% include "templates/blocks/footer.html" %}{% endblock %}


{% block body-assets %}
    <script src="{% static 'vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>