{% extends "templates/general.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}

    <p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

    <p><a href="{% url 'login' %}">{% trans 'Log in again' %}</a></p>

{% endblock %}
