{% extends "templates/general.html" %}
{% load bootstrap %}
{% block content %}

    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="well">
                    <form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                        {% csrf_token %}

                        <input type="hidden" name="next" value="{{ next }}"/>
                        {{ form | bootstrap }}
                        <div class="form-group text-right">
                            <a href="{% url 'password_reset' %}">Lost password?</a>
                            <input type="submit" value="login" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

