{% extends "templates/general.html" %}
{% load i18n %}
{% load bootstrap %}


{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-lg-offset-4 col-lg-4">
                <div class="well">


                    <form role="form" method="post">
                        <div class="form-group">
                            <h4>
                                {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
                            </h4>
                        </div>
                        {% csrf_token %}

                        {{ form| bootstrap_inline }}
                        <div class="form-group text-right    ">
                            <button type="submit" class="btn btn-primary  ">{% trans 'Reset my password' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
