{% if breadcrumb %}
    <ul class="breadcrumb">
        {% for foo in breadcrumb %}
            {% if foo.active %}
                <li class="active">{{ foo.label }}</li>
            {% else %}
                <li><a href="{{ foo.url }}">{{ foo.label }}</a></li>
            {% endif %}

        {% endfor %}

    </ul>
{% else %}
    {% load breadcrumbs %}
    {% breadcrumbs %}
{% endif %}


