<footer class="Footer well" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>SIGEN - Sistema Integrado de Gestão de Envio de Newsletter</p>
            </div>
            <div class="col-sm-6 text-right">
                <p>Projeto realizado no <a target="_blank" class="navbar-link" href="http://www.iscte-iul.pt/home.aspx">ISCTE-IUL</a></p>
            </div>
        </div>
    </div>
</footer>