<nav class="navbar navbar-ta" role="navigation">
    <div class="container-fluid">
        <ul class="nav  nav-tabs">
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'importCSV' %}">Import CSV</a></li>
                <li><a href="{% url 'importSQL' %}">Import SQL</a></li>
                <li><a href="{% url 'lists' %}">Listas</a></li>
                <li><a href="{% url 'transports' %}">Transmissores</a></li>
                <li><a href="{% url 'newsletters' %}">Newsletters</a></li>
                <li><a href="{% url 'newsletters-settings' %}">Definições</a></li>

                <li class="navbar-right nav  navbar-link" style="margin-right:0px">
                    <a class="" href="{% url 'logout' %}">Logout</a>
                </li>
            {% endif %}
        </ul>
        {% include "templates/blocks/breadcrumbs.html" with breadcrumbs=breadcrumbs %}
    </div>

</nav>
