{% extends "templates/general.html" %}
{% load bootstrap %}
{% block title %}
Contacto
{% endblock %}
{% block content %}
    <div class="container">
        <form action method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            {% if newsletters_as_recipient %}
            <h3>Newsletters como destinatário</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Assunto</th>
                    <th>Estado</th>
                </tr>
                </thead>
                <tbody>
                {% for newsletter in newsletters_as_recipient %}
                    <tr>
                        <td><a href="{% url 'newsletter-report' newsletter.id %}">{{ newsletter.subject }}</a></td>
                        <td>{{ newsletter.recipient_status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if number_of_fails %}
                <p><strong>Número de erros:</strong> {{ number_of_fails }}</p>
            {% endif %}
            <div class="form-group text-right">
                <button type="reset" class="btn btn-default" onclick="window.history.back()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Submeter</button>
            </div>
        </form>
    </div>
{% endblock %}