{% extends "templates/general.html" %}
{% block title %}
Listas
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Listas de contactos</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Número de contactos</th>
                <th>Criada em</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for list in lists %}
                <tr>
                    <td>{{ list.name }}</td>
                    <td>{{ list.size }}</td>
                    <td>{{ list.created_in }}</td>
                    <td><a class="btn btn-default" href="{% url 'list' list.id %}">Abrir</a></td>
                    <td><a class="btn btn-danger" onclick="return confirm('Tem a certeza?')"
                           href="{% url 'list-delete' list.id %}">Remover</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><a class="btn btn-default" href="{% url 'list' %}">Adicionar Lista</a></p>
    </div>
{% endblock %}