{% extends "templates/general.html" %}
{% load bootstrap %}
{% block title %}
    {% if list.name %}
        {{ list.name }}
    {% else %}
        Nova Lista
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        {% if list.name %}
            <h1>{{ list.name }}</h1>
            <p>Criada em: {{ list.created_in }}</p>
        {% endif %}
        <form action method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group text-right">
                <button type="reset" class="btn btn-default" onclick="window.history.back()">Cancelar</button>
                <button type="submit" class="btn btn-primary">Submeter</button>
            </div>
        </form>
        {% if list.contacts %}
            <table class="table">
                <thead class="table-head">
                <tr>
                    <th>Nome</th>
                    <th>Contacto</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for contact in list.contacts %}
                    <tr>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td><a class="btn btn-default" href="{% url 'contact' list.id contact.id %}">Abrir</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if list.pk %}
            <p><a class="btn btn-default" href="{% url 'contact' list.pk %}">Adicionar Contacto</a></p>
        {% endif %}
    </div>
{% endblock %}
