{% extends "templates/general.html" %}
{% load bootstrap %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="well">
                    <form action method="post" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %}>
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <div class="form-group text-right">
                            <button type="reset" class="btn btn-default" onclick="window.history.back()">Cancelar
                            </button>
                            <button type="submit" class="btn btn-primary">Submeter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
